<h3 class="ui header">{{t "forms.i-i-s-proekt-kirill-постамат-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-kirill-постамат-e.номер-caption")
      data-test-i-i-s-proekt-kirill-постамат-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.адрес
      class=(if (v-get validationModel "адрес" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-kirill-постамат-e.адрес-caption")
      data-test-i-i-s-proekt-kirill-постамат-e-адрес=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "адрес" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-kirill-постамат-e.службаДоставки-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.службаДоставки
      displayAttributeName="наименвоание"
      autocomplete=true
      relationName="службаДоставки"
      projection="СлужбаДоставкиL"
      title=(t "forms.i-i-s-proekt-kirill-постамат-e.службаДоставки-caption")
      readonly=readonly
      componentName="службаДоставкиLookup"
      class=(if (v-get validationModel "службаДоставки" "isInvalid") "error")
      data-test-i-i-s-proekt-kirill-постамат-e-службаДоставки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "службаДоставки" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-kirill-постамат-e.ячейка-caption"}}</label>
    {{flexberry-groupedit
      componentName="ячейкаGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.ячейка
      content=model.ячейка
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "ячейка" "isInvalid") "error")
      data-test-i-i-s-proekt-kirill-постамат-e-ячейка=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "ячейка" "message")}}
  </div>
</form>
